/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant:var(--color-gray);
  --color-text: var(--color-white);
  --color-accent: var(--color-pink);
  --color-accent-variant:var(--color-light);
  
  /* Background */
  --home-bg-gradient: linear-gradient(180deg, rgb(65,90,119) 0%, rgba(2,48,71,1) 100%);
  --contact-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23F1FAEE'/%3E%3Cstop offset='1' stop-color='%23FFFDFD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFA5AB'/%3E%3Cstop offset='1' stop-color='%23FFFDFD'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  /* Colors */
  --color-white: #fffdfd;
  --color-black: #023047;
  --color-light: #f1faee;
  --color-gray: #415a77;
  --color-pink: #ffa5ab;
  

  /* Size */
  --size-max-width : 2160px;

  /* Divider */
  --divider-wave-opacity: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" ></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5"></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" ></path> </svg>');
  --divider-triangle: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"></path> </svg>');
  --divider-book: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <rect x="1200" height="3.6"></rect> <rect height="3.6"></rect> <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z"></path> </svg>');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  font-family: 'REM', sans-serif;
  color:var(--color-primary);
  margin: 0;
}

h1,h2,h3,p,ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top:0;
  width: 100%;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}

.header--dark {
  background-color: var(--color-primary);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  padding: 0.7rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border: 2px solid var(--color-accent);
  border-radius: 100%;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__toggle {
  display: none;
  color: var(--color-white);
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header__menu__item {
  padding: 8px 12px;
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  color: var(--color-accent);
  font-weight: bolder;
}

/* Home */
#home {
  color:var(--color-text);
  background: rgb(65,90,119);
  background: var(--home-bg-gradient);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 100%;
  background-color: var(--color-accent);
}

.home__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  margin:2rem;
  font-weight: bold;
  color: var(--color-primary);
  border-radius: 5px;
}

.home__contact:hover {
  background-color: transparent;
  outline: 2px solid var(--color-accent);
  color: var(--color-accent);
}

/* About */
#about {
  position: relative;
  background-color: var(--color-white);
}

.majors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2.5rem;
}

.major {
  background: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: 0px 0px 10px 0px rgba(2,48,71,0.75);
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent-variant);
  transition: all 400ms ease;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg);
}

.jobs {
  text-align: start;
  margin-left: 2rem;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job__period {
  font-size: 0.8rem;
  text-indent: 5%;
}

.job__link {
  color: var(--color-primary);
}

#about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  width: calc(100% + 1.3px);
  height: 52px;
  transform: rotateY(180deg);
  background-color: var(--color-primary);
  mask: var(--divider-wave-opacity);
  -webkit-mask: var(--divider-wave-opacity);
}

/* Skills */
#skills {
  position: relative;
  background: var(--color-primary-variant);
  color: var(--color-text);
}

.skills {
  display: grid;
  grid-template-columns: 7fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(2,48,71,0.75);
}

.skills__title {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills__coding {
  grid-row: span 2;
  padding: 1rem;
  background-color:var(--color-primary);
}

.skills__tools {
  background-color: var(--color-primary-variant);
  filter: brightness(120%);
  padding: 1rem;
}

.skills__etc {
  background-color: var(--color-primary);
  filter: brightness(120%);
  padding: 1rem;
}

.skills__tool {
  color: var(--color-accent);
}

.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}

#skills::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
  width: calc(100% + 1.3px);
  height: 40px;
  background-color: var(--color-primary);
  mask: var(--divider-triangle);
  -webkit-mask: var(--divider-triangle);
}

/* Work */
#work {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent-variant);
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent-variant);
  color: var(--color-primary);
}

.category__count {
  opacity: 0;
  position: absolute;
  top: -25px;
  right: 18px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  font-size: 0.8rem;
  background-color: var(--color-accent);
  color:var(--color-primary);
  transition: all 250ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
  opacity:1;
  top:2px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
}

.projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Inspiration */
#inspiration {
  background-color: var(--color-white);
}

.inspirations {
  margin: 3rem;
}

.inspiration {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.inspiration:nth-child(even) .inspiration__img {
  order: 1;
}

.inspiration__img {
  width: 150px;
  height: 150px;
  border-radius:100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
}

.inspiration__bubble {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(88, 98, 102, 0.75);
}

.inspiration__bubble__name {
  color: var(--color-accent);
  font-weight: bold;
  filter:brightness(80%)
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 3px 3px 0px 0px var(--color-accent);
  opacity: 0;
  transition: all 250ms ease-in;
  z-index: 1;
}

/* Footer */
#contact {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
  background-image: var(--contact-bg-svg);
  background-size: cover;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  transition: color 250ms ease;
}

.contact__link:hover {
  color: var(--color-accent);
}

.copyright {
  font-size: 0.8rem;
}

#contact::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 100px;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-white);
  mask: var(--divider-book);
  -webkit-mask: var(--divider-book);
}

/* Project Details */

#project {
  width: 100%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-white);
  box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.69);
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.69);
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.project__information {
  margin: 2rem;
}

.project__part__title {
  margin-top: 16px;
  text-align: left;
}

.project__part__desc {
  text-align: left;
  font-size: 0.9rem;
}

.project__part__desc li{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69);
  opacity: 0;
  transition: all 200ms ease-in;
}

.project__part__desc li.active {
  opacity:1;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  /* Header */
  .header {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary);
  }
  
  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
  }

  .header__menu.open {
    display: flex;
  }

  .header__toggle {
    display: block;
  }

  .header__nav {
    width:100%;
  }

  .header__menu__item {
    display: block;
  }

  /* Home */
  #home {
    padding-bottom: 3rem;
  }

  .home__title{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  /* About */
  .majors {
    grid-template-columns: 1fr;
  }

  .major {
    max-width: 25rem;
  }

  .jobs {
    margin-left: 0;
  }

  .job {
    justify-content: center;
  }

  /* Skills */
  .skills {
    grid-template-columns: 1fr;
  }
  
  .skills__title {
    margin-top: 0;
  }

  /* Work */
  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Inspiration */
  .inspiration {
    flex-direction: column;
  }

  .inspiration:nth-child(even) .inspiration__img {
    order: 0;
  }

  /* Arrow up */
  .arrow-up {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }

}