/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-brown);
  --color-primary-variant:var(--color-salmon);
  --color-text: var(--color-white);
  --color-accent: var(--color-pink);
  --color-accent-variant:var(--color-green);

  --color-white: #fff5f8;
  --color-brown: #9d8189;
  --color-green: #d8e2dc;
  --color-salmon: #f4acb7;
  --color-pink: #ffcad4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'REM', sans-serif;
}

h1,h2,h3,p,ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid var(--color-green);
}